body, html {
	height: 100%;
	margin: 0;
}

.textLabelclass{
  white-space:nowrap;
  color: yellow;
}

#map {
	width: 100%;
	height: 100%;
	z-index:1;
}

.uiBox {
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.85);
	z-index: 2;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: rgb(200,200,200);
	box-shadow: 3px 3px 5px rgb(100,100,100);
	box-shadow: 3px 3px 5px rgba(100,100,100,0.5);
	padding: 10px;
	font-family: Verdana, Geneva, sans-serif;
}

#dataSelectUIContainer {
	position: absolute;
	width: 210px;
	height: auto;
	right: 10px;
	top: 10px;
}

.selectorContainer {
	margin-bottom: 10px;
}

#legendAndInfoButtonContainer {
	position: absolute;
	left: 10px;
	bottom: 10px;
	z-index: 2;
}

#loading {
	position: absolute;
	top: 20px;
	right: 50px;
	width: 250px;
	background-color: white;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
}

#legendContainer {
	display: inline-block;
}

#legendItemContainer {
	width: auto;
}

.legendTitle {
	margin: 5px;
}

#info {
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.85);
	z-index: 2;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: rgb(200,200,200);
	box-shadow: 3px 3px 5px rgb(100,100,100);
	box-shadow: 3px 3px 5px rgba(100,100,100,0.5);
	padding: 0px;
	width: 20px; 
	height: 33px;
	display: inline-block;
	position: absolute;
	top: 75px;
	left: 10px;
}

#steplist {
	display: none;
}

#infoIcon {
	display: block;
	margin: auto;
	fill: rgb(150,150,150);
}

.scenarioButton {
	margin: 5px 0px 0px 0px;
	width: 89%;
	height: auto;
	/*display: inline-block;*/
}

.scenarioExplainerButton {
	display: inline-block;
	width: 18px;
	height: 18px;
	color: rgb(180,180,180);
	text-align: center;
	padding: 0px;
	/*stuff to make it not look like a button*/
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    margin-left: -3px;
    top: 7px;
    font-size: 16px;
}

.scenarioExplainerButton:hover {
	color: rgb(100,100,100);
}

label {
	display: block;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
	margin-left: 3px;
}

select {
	display: block;
	width: 100%;
	/*display: inline-block;*/
}

#streamsIcon {
	width: 20px;
	height: 2.5px;
	background-color: rgb(88,147,169);
	display: inline-block;
	position: relative;
	bottom: 3px;
}

#citiesIcon {
	width: 20px;
	height: 10px;
	display: inline-block;
	position: relative;
}

.modal img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.selectpicker {
	width: 50px;
}

.resizable { 
    width: 300px;
    height: 300px;
    position: absolute;
	top: 75px;
	left: 10px;
	z-index: 2;
	
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.85);
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: rgb(200,200,200);
	box-shadow: 3px 3px 5px rgb(100,100,100);
	box-shadow: 3px 3px 5px rgba(100,100,100,0.5);
	font-family: Verdana, Geneva, sans-serif;
}

.resizableContent {
    height: calc(100% - 30px);
    width: 100%;
    padding: 0.7em;
    overflow: auto; 
}

.resizable h3 { 
    text-align: center; 
    margin: 0; 
}

#storyTitleBar {
	text-align: center;
	height: 30px;
}

#storyTitleText{
	position: absolute;
	top: 3px;
	left: 0px;
	right: 0px;
	font-size: 16px;
	font-weight: bold;
}

/*The x icon in the storyWindow*/
#storyTitleBar .closeStoryWindow {
	position: absolute;
	top: 5px;
	height: 16px;
	width: 16px;
	cursor: pointer;
	right: 5px;
}







